<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>RESERVATION</title>
  </head>
  <body>
    <div
      class="container1 formContainer"
      id="contents"
      layout:fragment="contents"
    >
      <div id="boardSending" class="reserv">
        <form action="/reservProcess" method="POST" >
          <input
            type="hidden"
            name="customerNo"
            th:value="${session.loggedMember.no}"
          />
          <h2>Reservation</h2>
          <div class="mt-5 reserv_custom_info">
            <h3>Customer Information</h3>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Name</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Name"
                name="reservName"
                th:value="${session.loggedMember.userName}"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Birth Date</label
              >
              <input
                type="text"
                class="form-control"
                id="datepicker01"
                placeholder="YYYY/MM/DD"
                name="reservBday"
                th:value="${session.loggedMember.userBday}"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Passport Number</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Passport Number"
                name="reservPassport"
                th:value="${session.loggedMember.passport}"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email Address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="example@stellar.com"
                name="reservEmail"
                th:value="${session.loggedMember.email}"
              />
            </div>
          </div>

          <div class="mt-5 package_item">
            <h3>Search Package Items</h3>
            <div class="mt-3 reserv_date_wrap">
              
              <div class="mb-3 date">
                <label for="exampleFormControlInput1" class="form-label"
                  >Departure Date</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="datepicker02"
                  placeholder="YYYY/MM/DD"
                  name="pkgDepart"
                />
              </div>
           
              <div class="mb-3 date">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Return Date</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="datepicker03"
                    placeholder="YYYY/MM/DD"
                    name="pkgArrival"
                  />
              </div>
            </div>
           
            <div class="reserv_select_wrap">
              <div class="mb-3 select">
                <label for="exampleFormControlInput1" class="form-label"
                  >Region</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="pkgRegion"
                >
                  <option selected>Select Region</option>
                  <option value="korea">South Korea</option>
                  <option value="japan">Japan</option>
                  <option value="china">China</option>
                </select>
              </div>
              <div class="mb-3 select">
                <label for="exampleFormControlInput1" class="form-label"
                  >Minimum Budget per One Person</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="minBudget"
                >
                  <option selected>Select Minimum Budget</option>
                  <option value="1000">1000</option>
                  <option value="2000">2000</option>
                  <option value="3000">3000</option>
                </select>
              </div>
              <div class="mb-3 select">
                <label for="exampleFormControlInput1" class="form-label"
                  >Maximum Budget per One Person</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="maxBudget"
                >
                  <option selected>Select Maximum Budget</option>
                  <option value="5000">5000</option>
                  <option value="6000">6000</option>
                  <option value="7000">7000</option>
                </select>
              </div>
              <button class="btn btn-warning btnSearch">Search</button>
            </div>
          </div>
        </form>

        <div class="result"> <!-- 검색 결과 들어가는 곳 -->

          <div class="card"> <!-- 하나의 결과 / 패키지 상품 / 반복되는 대상 -->
            <div class="card-header">
              Package
            </div>
            <div class="card-body package_result">
              <div class="package_result_1">
                <img src="/images/korea/korea (1).jpg" alt="">
              </div>
              <div class="package_result_2">
                <h3 class="card-title">패키지명 들어가는 곳</h3>
                <h5 class="card-text">Contents 들어가는 곳</h5>
                <div class="package_result_2_desc">
                  <a href="">Region</a> &#124;
                  <a href="">Budget</a> &#124;
                  <a href="">Other Info</a>
                </div>
              </div>
            </div>
            <div class="checkBox">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            </div>
          </div>
        </div>

      </div>

      <script>
        const picker01 = new Lightpick({
          field: document.querySelector("#datepicker01"),
          format: "YYYY/MM/DD",
        });
        const picker02 = new Lightpick({
          field: document.querySelector("#datepicker02"),
          format: "YYYY/MM/DD",
        });
        const picker03 = new Lightpick({
          field: document.querySelector("#datepicker03"),
          format: "YYYY/MM/DD",
        });
      </script>
    </div>
  </body>
</html>


<!-- <div class="joinBtn">
<button type="button confirm" class="btn btn-primary btn-lg">
Submit
</button>
<button type="button reset" class="btn btn-secondary btn-lg">
Reset
</button>
</div>
</div> -->