<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>TITLE</title>
  </head>
  <body>
    <div class="container1 formContainer company" id="contents" layout:fragment="contents">
      <div id="sending">
        <h1 class="discount-banner font900 sakura h1" data-aos="fade-down" data-aos-delay="400">こんにちは</h1>
        <h3 class="discount-banner font700" data-aos="fade-up" data-aos-delay="800"> We are Stellar Tour !</p>

        <div class="companyInfo"><img src="/images/company/companyInfo.png" class="mt-3" alt="companyInfo"></div>
    </div>
  </body>
</html>
