<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>TITLE</title>
  </head>
  <body>
    <div class="container1 formContainer" id="contents" layout:fragment="contents">
      <div id="sending">
        <h2>타이틀 제목</h2>

        <!----
        FORM으로 사용
        <form action="" method="post">
          <div class="mb-2 leftAlign">
            <label for="" class="form-label">ID</label>
            <input type="text" class="form-control" placeholder="ID" name="userId" />
          </div>
        </form>

        테이블로 사용
        <table class="table">
          <colgroup>
            <col style="width: 40%; background-color: #eee" class="font900" />
            <col style="width: 60%" />
          </colgroup>
          <tr>
            <td>ID</td>
            <td><input type="text" placeholder="ID" name="userId" /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" placeholder="Password" name="userPw" /></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><input type="text" placeholder="Name" name="userName" /></td>
          </tr>
          <tr>
            <td>NickName</td>
            <td><input type="text" placeholder="Nickname" name="userNickname" /></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="email" placeholder="name@example.com" name="email" /></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><input type="text" placeholder="address" name="address" /></td>
          </tr>
          <tr>
            <td>Selfie</td>
            <td><input type="file" placeholder="selfie" name="originalFile" class="btn btn-light joinFileBtn" /></td>
          </tr>
        </table>
        ---->
      </div>

      <script></script>
    </div>
  </body>
</html>
