<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>FREEBOARD</title>
  </head>
  <body>
    <div class="formContainer" id="contents" layout:fragment="contents">
      <h3>Free Board</h3>
      <table class="table table-striped  table-hover mt-5">
                <colgroup>
                    <col style="width:100px; text-align: center;">
                    <col style="text-align: left;">
                    <col style="width:200px; text-align: center;">
                    <col style="width:50px; text-align: center;">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">no</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Date</th>
                    <th scope="col">Hit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item : ${freeList}">
                    <td scope="row" th:text="${item.freeNo}">1</td>
                    <td><a th:href="@{/board/freeboardview(no=${item.freeNo})}" 
                        th:text="${item.freeTitle}">제목</a></td>
                    <td th:text="${item.freeRegDate}">2023.03.23</td>
                    <td th:text="${item.freeHit}">1</td>
                  </tr>
                </tbody>
              </table>
              <a href="/board/freeboardwrite" class="btn btn-secondary btn-lg sessionCheck">WRITE</a>
      <!-- <table class="table table-striped mt-5">
        <thead>
          <tr class="text-center">
            <th>Title</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${freeList}" class="text-center">
            <td><a href="" th:href="@{/board/freeboardview(no=${item.freeNo})}"  th:text="${item.freeTitle}">제목</a></td>
            <td th:text="${item.freeRegDate}">날짜</td>
          </tr>
        </tbody>
      </table> -->
      </div>
      <script></script>
    </div>
  </body>
</html>
