<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>VIPBOARD WRITE</title>
  </head>
  <body>
    <div
      class="container formContainer"
      id="contents"
      layout:fragment="contents"
    >
      <div id="boardSending">
        <h2>Free Board Modify</h2>
        <form action="/board/vipBoardModify" method="post" class="mt-5">
          <input
            type="hidden"
            name="no"
            th:value="${session.loggedMember.no}"
          />
          <input
            type="hidden"
            name="freeNo"
            th:value="${freeBoardDto.freeNo}"
          />

          <div class="mb-3">
            <label for="subject" class="form-label">SUBJECT</label>
            <input
              type="text"
              class="form-control"
              id="subject"
              placeholder="Title"
              name="freeTitle"
              th:value="${freeBoardDto.freeTitle}"
            />
          </div>

          <div class="mb-3">
            <label for="txt" class="form-label">CONTENTS</label>
            <textarea
              class="form-control"
              id="txt"
              rows="4"
              name="contents"
              th:placeholder="${freeBoardDto.freeContents}"
            ></textarea>
          </div>

          <div class="mt-5 text-center">
            <button type="submit" class="btn btn-lg btn-primary">
              CONFIRM
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
