<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>VIPBOARD</title>
  </head>
  <body>
    <div
      class="container formContainer"
      id="contents"
      layout:fragment="contents"
    >
      <div id="boardSending">
        <h2>Vip Board</h2>
        <table class="table">
          <colgroup>
            <col style="width: 25%; background-color: #eee" class="font900" />
            <col style="width: 75%" />
          </colgroup>
          <tr>
            <th>Title</th>
            <td th:text="${vipBoardDto.vipTitle}"></td>
          </tr>
          <tr>
            <th>Writer</th>
            <td th:text="${memberDto.userNickname}"></td>
          </tr>

          <tr>
            <th>Date</th>
            <td th:text="${vipBoardDto.vipRegDate}"></td>
          </tr>

          <tr class="boardContents">
            <th>Contents</th>
            <td th:text="${vipBoardDto.vipContents}"></td>
          </tr>
        </table>

        <div class="joinBtn">
          <td>
            <a
              href=""
              class="btn btn-primary sessionCheck"
              th:href="@{/board/freeboardmodify(no=${vipBoardDto.vipNo})}"
              >Modify</a
            >
          </td>
          <td>
            <a
              href=""
              id="btnVipDeleteBoardAjax"
              class="btn btn-danger"
              th:href="@{/board/vipboarddelete(no=${vipBoardDto.vipNo})}"
              >Delete</a
            >
          </td>
        </div>
      </div>
    </div>
  </body>
</html>
