<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>VIPBOARD WRITE</title>
  </head>
  <body>
    <div class="formContainer" id="contents" layout:fragment="contents">
      <h3>Vip Board Write</h3>
      <form action="/board/vipBoardWrite" method="post" class="mt-5" style="z-index:99">
          <input type="hidden" name="no" th:value="${session.loggedMember.no}">
         <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title"
              name="vipTitle">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"
              name="vipContents"></textarea>
            </div>
            <button type="button confirm" class="btn btn-primary btn-lg mt-3">Submit</button>
            <button type="button reset" class="btn btn-secondary btn-lg mt-3">Reset</button>
            <a href="/board/vipboard" class="btn btn-secondary btn-lg mt-3">List</a>
      </form>
      </div>
      <script></script>
    </div>
  </body>
</html>
