<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title></title>
  </head>
  <body>
    <div
      class="container formContainer"
      id="contents"
      layout:fragment="contents"
      style="z-index: 99"
    >
      <h2>Logged User Information</h2>
      <table class="table mt-5">
        <colgroup>
          <col class="th" />
          <col class="td" />
        </colgroup>
        <tbody>
          <tr>
            <th>Name</th>
            <td th:text="${session.loggedMember.userName}">userName</td>
          </tr>
          <tr>
            <th>Email</th>
            <td th:text="${session.loggedMember.email}">userName</td>
          </tr>
          <tr>
            <th>UserId</th>
            <td th:text="${session.loggedMember.userId}">userName</td>
          </tr>
          <tr>
            <th>UserId</th>
            <td>
              <button class="btn btn-secondary"><a href="/">Home</a></button>
              <button class="btn btn-secondary">
                <a href="/member/logout">Logout</a>
              </button>
              <button class="btn btn-primary">
                <a href="/member/moidfy">Modify</a>
              </button>
              <button class="btn btn-danger">
                <a href="/member/delete">Delete</a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
