<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org" 
                xmlns="http://www.thymeleaf.org"
                layout:decorate="~{/layout/layout.html}">
<head>
  <head>
    <title>MEMBER SIGN UP</title>
  </head>
  <body>
    <div class="container1 formContainer" id="contents" layout:fragment="contents">
      <div id="sending">
        <h2>SIGN UP</h2>
        <form action="/member/join" method="post" th:object="${memberDto}" enctype="multipart/form-data">
          <div class="mb-2 leftAlign">
            <label for="" class="form-label">ID</label>
            <div class="iDduplCheck">
              <input type="text" class="form-control" placeholder="ID" name="userId" />
              <a href="/"><button class="btn btn-light">duplicate check</button></a>
            </div>
          </div>

          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="userPw" />
          </div>

          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="userName" name="userName" />
          </div>
  
          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Nickname</label>
            <input type="text" class="form-control" placeholder="Nickname" name="userNickname" />
          </div>

          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control"  placeholder="name@example.com" name="email" />
          </div>

          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Address</label>
            <input type="text"  class="form-control"  placeholder="address" name="address" />
          </div>

          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Birthday</label>
            <input type="date"  class="form-control"  placeholder="birthday" name="userBday" />
          </div>

          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Passport Number</label>
            <input type="text"  class="form-control"  placeholder="passport" name="passport" />
          </div>

          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Selfie</label>
            <input type="file"  class="form-control"  placeholder="selfie" name="originalFile"/>
          </div>
         
      
          <div class="joinBtn">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            <button class="btn btn-secondary btn-lg" type="reset">Reset</button>
          </div>

          
        </form>
      </div>

      <script></script>
    </div>
  </body>
</html>
