<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org" 
                xmlns="http://www.thymeleaf.org"
                layout:decorate="~{/layout/layout.html}">
<head>
  <title>REPLYBOARD</title>
</head>
<body>
  <div layout:fragment="contents">
    <main>
      <section class="visual" data-aos="fade">
        <h2 class="hidden">main video</h2>

        <div class="wrap"><video
          src="/videos/drive.mp4"
          autoplay
          muted
          loop
          class="visual_img"
        ></video></div>

        <div class="visaul_txt_wrap">
          <div class="visual_txt">
            <h2 data-aos="fade-down" class="green" data-aos-delay="600">
              Stellar <br />
              Tour
            </h2>
            <p data-aos="fade-right" data-aos-delay="800">Most Fun</p>
            <p data-aos="fade-left" data-aos-delay="1000">Most Reasonable</p>
          </div>
        </div>
      </section>
      <!-- visual end-->

      <section class="promotion container1">
        <a class="promo-a" href="#" data-aos="fade-right" data-aos-delay="500">
          <h2>South Korea</h2>
          <div class="promotion-banner">
            <img src="/images/korea/korea (2).jpg" alt="korea" />
          </div>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat."
          </p>
        </a>
        <a class="promo-a" href="#" data-aos="fade" data-aos-delay="500">
          <h2>Japan</h2>
          <div class="promotion-banner">
            <img src="/images/japan/japan (1).jpg" alt="japan" />
          </div>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat."
          </p>
        </a>
        <a class="promo-a" href="#" data-aos="fade-left" data-aos-delay="500">
          <h2>China</h2>
          <div class="promotion-banner">
            <img src="/images/china/china (11).jpg" alt="china" />
          </div>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat."
          </p>
        </a>
      </section>
      <!-- promotion end -->

      <!-- map start -->
      <section class="map container1">
        <h1 class="pointer">도시 별로 a 태그 찍을 예정</h1>
        <div class="wrap"><img src="/images/higashi_map.png" alt=""></div>
      </section>
      <!-- map end -->

      <section class="airplane container1">
        <div data-aos="fade-right" class="airplane_title">
          <h2 data-aos="fade-right" data-aos-delay="400">Airplane</h2>
          <p>Offered with the cheapest price</p>
        </div>
        <div data-aos="fade-up-right" class="airplane_img">
          <img src="/images/plane.png" alt="" />
        </div>
        <div class="airplane_btn" data-aos="fade-left">
          <a class="btn" href="#">Move to the page</a>
        </div>
      </section>
      <!-- airplane 1 end -->

      <section class="bus container1">
        <div class="bus_btn" data-aos="fade-right">
          <a class="btn" href="#">Move to the page</a>
        </div>
        <div data-aos="fade-up" class="bus_img">
          <img src="/images/bus.png" alt="" />
        </div>
        <div data-aos="fade-left" class="bus_title">
          <h2 data-aos="fade-left" data-aos-delay="400">Bus</h2>
          <p>Offered with the cheapest price</p>
        </div>
      </section>
      <!-- bus end -->

      <section class="reco">
        <h2 data-aos="fade-right" data-aos-delay="400">
          Travels only recommended for you
        </h2>
        <div class="container1" data-aos="fade-up" data-aos-delay="500">
          <a href="#" class="reco_wrap">
            <div class="reco_img">
              <span class="material-symbols-outlined forward"> forward </span>
              <img src="/images/korea/korea (2).jpg" alt="aurora" />
            </div>
            <div class="reco_desc">
              <p>Package</p>
              <p><strong>Korea for 5 days</strong></p>
              <p>#Korea #Asia</p>
              <h4>8,000$~</h4>
            </div>
          </a>

          <a href="#" class="reco_wrap">
            <div class="reco_img">
              <span class="material-symbols-outlined forward"> forward </span>
              <img src="/images/korea/korea (3).jpg" alt="desert" />
            </div>
            <div class="reco_desc" v>
              <p>Free</p>
              <p><strong>Korea for 5 days</strong></p>
              <p>#Korea #Asia</p>
              <h4>8,000$~</h4>
            </div>
          </a>

          <a href="#" class="reco_wrap">
            <div class="reco_img">
              <span class="material-symbols-outlined forward"> forward </span>
              <img src="/images/korea/korea (4).jpg" alt="japan" />
            </div>
            <div class="reco_desc">
              <p>Free</p>
              <p><strong>Korea for 5 days</strong></p>
              <p>#Asia #Korea</p>
              <h4>8,000$~</h4>
            </div>
          </a>

          <a href="#" class="reco_wrap">
            <div class="reco_img">
              <span class="material-symbols-outlined forward"> forward </span>
              <img src="/images/japan/japan (2).jpg" alt="aurora" />
            </div>
            <div class="reco_desc">
              <p>Package</p>
              <p><strong>Japan for 5 days</strong></p>
              <p>#Japan #Asia</p>
              <h4>8,000$~</h4>
            </div>
          </a>

          <a href="#" class="reco_wrap">
            <div class="reco_img">
              <span class="material-symbols-outlined forward"> forward </span>
              <img src="/images/japan/japan (3).jpg" alt="aurora" />
            </div>
            <div class="reco_desc">
              <p>Package</p>
              <p><strong>Japan for 5 days</strong></p>
              <p>#Japan #Asia</p>
              <h4>8,000$~</h4>
            </div>
          </a>

          <a href="#" class="reco_wrap">
            <div class="reco_img">
              <span class="material-symbols-outlined forward"> forward </span>
              <img src="/images/japan/japan (4).jpg" alt="desert" />
            </div>
            <div class="reco_desc">
              <p>Free</p>
              <p><strong>Japan for 5 days</strong></p>
              <p>#Peaceful #Asia</p>
              <h4>8,000$~</h4>
            </div>
          </a>

          <a href="#" class="reco_wrap">
            <div class="reco_img">
              <span class="material-symbols-outlined forward"> forward </span>
              <img src="/images/china/china (1).jpg" alt="japan" />
            </div>
            <div class="reco_desc">
              <p>Free</p>
              <p><strong>China for 5 days</strong></p>
              <p>#China #Asia</p>
              <h4>8,000$~</h4>
            </div>
          </a>

          <a href="#" class="reco_wrap">
            <div class="reco_img">
              <span class="material-symbols-outlined forward"> forward </span>
              <img src="/images/china/china (2).jpg" alt="aurora" />
            </div>
            <div class="reco_desc">
              <p>Package</p>
              <p><strong>China for 5 days</strong></p>
              <p>#China #Asia</p>
              <h4>8,000$~</h4>
            </div>
          </a>
        </div>
      </section>
      <!-- reco end -->

      <section class="discount">

        <div class="discount-title">
          <a href="" class="btn discount-btn" data-aos="fade-down" data-aos-delay="500">See More Tours</a>
          <div>
            <h2 data-aos="fade-right" data-aos-delay="300">Last Discount</h2>
            <h4 data-aos="fade" data-aos-delay="600"><strong>This is the last chance!</strong></h4>
          </div>
        </div>
        <div class="container" >
          <div class="discount-banner" data-aos="fade-right" data-aos-delay="400">
            <ul class="discount-banner-list swiper-wrapper">
              <li class="swiper-slide">
                <div class="discount-img">
                  <img src="/images/korea/korea (5).jpg" alt="" />
                  <span class="sticker">HOT!</span>
                </div>
                <div class="discount-txt">
                  <h3>
                    Last Deal!
                  </h3>
                  <p class="date">$2,000~</p>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="discount-img">
                  <img src="/images/korea/korea (6).jpg" alt="" />
                  <span class="sticker">HOT!</span>
                </div>
                <div class="discount-txt">
                  <h3>
                    Last Deal!
                  </h3>
                  <p class="date">$2,000~</p>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="discount-img">
                  <img src="/images/korea/korea (7).jpg" alt="" />
                  <span class="sticker">HOT!</span>
                </div>
                <div class="discount-txt">
                  <h3>
                    Last Deal!
                  </h3>
                  <p class="date">$2,000~</p>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="discount-img">
                  <img src="/images/japan/japan (5).jpg" alt="" />
                  <span class="sticker">HOT!</span>
                </div>
                <div class="discount-txt">
                  <h3>
                    Last Deal!
                  </h3>
                  <p class="date">$2,000~</p>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="discount-img">
                  <img src="/images/japan/japan (6).jpg" alt="" />
                  <span class="sticker">HOT!</span>
                </div>
                <div class="discount-txt">
                  <h3>
                    Last Deal!
                  </h3>
                  <p class="date">$2,000~</p>
                </div>
              </li> 
              <li class="swiper-slide">
                <div class="discount-img">
                  <img src="/images/japan/japan (7).jpg" alt="" />
                  <span class="sticker">HOT!</span>
                </div>
                <div class="discount-txt">
                  <h3>
                    Last Deal!
                  </h3>
                  <p class="date">$2,000~</p>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="discount-img">
                  <img src="/images/china/china (3).jpg" alt="" />
                  <span class="sticker">HOT!</span>
                </div>
                <div class="discount-txt">
                  <h3>
                    Last Deal!
                  </h3>
                  <p class="date">$2,000~</p>
                </div>
              </li>
             <li class="swiper-slide">
              <div class="discount-img">
                <img src="/images/china/china (4).jpg" alt="" />
                <span class="sticker">HOT!</span>
              </div>
              <div class="discount-txt">
                <h3>
                  Last Deal!
                </h3>
                <p class="date">$2,000~</p>
              </div>
              </li>
              <li class="swiper-slide"><a href="">
                <div class="discount-img">
                  <img src="/images/china/china (5).jpg" alt="" />
                  <span class="sticker">HOT!</span>
                </div>
                <div class="discount-txt">
                  <h3>
                    Last Deal!
                  </h3>
                  <p class="date">$2,000~</p>
                </div>
              </li>
            </ul>
            <button class="btn btn--round btn--fixed btn--next">
              <span class="material-icons"> arrow_forward </span>
            </button>
            <button class="btn btn--round btn--fixed btn--prev">
              <span class="material-icons"> arrow_back </span>
            </button>
          </div>
        </div>
      </section>
      <!-- discount end -->
    </main>
    
    
    <script>
    </script>
  </div>
</body>
</html>