<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bb.voyage.dao.MemberDao">
  <insert id="insertMember" parameterType="MemberDto">
    INSERT INTO MEMBER VALUES (
      MEMBER_SEQ.NEXTVAL,
      #{userId},
      #{userPw},
      #{userName},
      #{userNickname},
      #{email},
      #{address},
      #{originalFilePath},
      #{renamedFilePath},
      0,
      0,
      '19890813',
      'M5087722'
    )
  </insert>
  <select id="loginMember" parameterType="MemberDto" resultType="MemberDto">
    SELECT * FROM MEMBER WHERE USERID = #{userId} AND USERPW = #{userPw}
  </select>
  <select id="getMemberInfo" parameterType="Integer" resultType="MemberDto">
    SELECT * FROM MEMBER WHERE NO = #{no}
  </select>
    <!-- 회원 정보 수정 -->
    <update id="modifyMember" parameterType = "MemberDto">
      UPDATE MEMBER SET USERNAME = #{userName}, USERNICKNAME = #{userNickname},  EMAIL = #{email}, ADDRESS = #{address}
      WHERE NO = #{no} AND USERPW = #{userPw}
  </update>

  <!-- 회원 탈퇴 -->
  <delete id="deleteMember" parameterType="MemberDto">
  DELETE MEMBER WHERE NO=#{no} AND USERPW = #{userPw}
</delete>
</mapper>