<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bb.voyage.dao.ReservDao">
  <insert id="insertReserv" parameterType="ReservDto">
    INSERT INTO RESERVATION VALUES (
      RESERVATION_SEQ.NEXTVAL,
      #{customerNo},
      1,
      #{reservName},
      #{reservBday},
      #{reservPassport},
      #{reservEmail},
      SYSDATE
    )
  </insert>
  <insert id="insertPkg" parameterType="PkgDto">
    INSERT INTO PACKAGE VALUES (
      PACKAGE_SEQ.NEXTVAL,
      #{pkgName},
      #{pkgContents},
      #{pkgRegion},
      #{pkgDepart},
      #{pkgArrival},
      #{pkgBudget}
    )
  </insert>
  <select id="getFilteredPkg" resultType="PkgDto" parameterType="PkgDto">
    SELECT * FROM PACKAGE WHERE (BUDGET BETWEEN #{minBudget} AND #{maxBudget}) AND PKGDEPART = #{pkgDepart} AND PKGARRIVAL = #{pkgArrival} AND PKGREGION = #{pkgRegion}
  </select>
</mapper>