<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>TITLE</title>
  </head>
  <body>
    <div class="container1 formContainer company" id="contents" layout:fragment="contents">
      <div id="sending">
        <h1>TITLE</h1>

        <section class="country1">
          <div class="country1_img">
            <img src="/images/korea/korea (1).jpg" alt="korea" />
          </div>
          <div class="country1_desc">
            <!-- 설명 들어갈 곳-->
            <div class="desc1">
              <h1>나라 설명</h1>
              <p>나라 설명</p>
            </div>
          </div>
        </section>

        <!-- 필요 시 밑에 section을 추가해도 되고 위에 것을 삭제해도 되고 bg color 변경해도 됨-->
      </div>
    </div>
  </body>
</html>
